@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Raleway);
body {
	font-family: 'Raleway', sans-serif;
	 /*font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif; */
	background-color: #f7f7f7;

}
/* HEADER */
.header {
	background-color: #2b2b2b;
	min-height: 100px;
	padding: 16px;
	color: #fff;
}

.rigth-top {
	text-align: right;
}

/* MENU */

.menu {
	background-color: #383c3e;
	min-height: 100px;
	padding: 16px;
	color: #fff;
}

.menu ul {
	list-style-type: none;
	line-height: 3 ;
	font-weight: lighter;
	border-bottom: 1px solid #333;
	padding-bottom: 20px;
	margin-left: 10px;
}

.menu-title {
	text-transform: uppercase;
	color: #00b268;
}

.active-test {
	border-right: 4px solid #80c235; 
	padding-right: 200px;
}


/* FOOTER */

.footer-top {
	margin-top: 150px;
}

.footer {
	position: inherit;
}

#footer a {
	color: #666;
}

#footer a:hover {
	color: #00b268;
	text-decoration: none;
}

.logo-br{
	background-image: url(../images/logo-br.png);
	background-repeat: no-repeat;
	min-height: 100px;
}


.bottom-line {
	background: linear-gradient(to right,#1fad7a 0,#80c235 100%);
	background: -moz-linear-gradient(left,#1fad7a 0,#80c235 100%);
	background: -webkit-gradient(linear,left top,right top,color-stop(0,#1fad7a),color-stop(100%,#80c235));
	width: 100%;
	height: 16px;
	position: inherit;
}



.content {
	padding-left: 30px;
	padding-right: 30px;
	margin: 0 auto;

}

.data {
	padding:10px;
	border-radius: 8px;
	background: #2b2b2b;
	color: #fff;
	line-height: 2.7em;
	border: 2px solid #fff;
	margin-left: auto;
}

.circle {
	border-radius: 100%;
	border: solid 4px #fff;
	background: #80c235;
	color: #fff;
	font-size: 35px;
	padding-top: 45px;
	width: 150px;
	height: 150px;
	text-align: center;
	margin: 0 auto 0 auto;


}



/* top section */
.home-hawk {
	margin-top: 50px;
	margin-bottom: 50px;
}

.messages {
	border: solid 1px #ccc;
	border-radius: 6px;
	padding: 18px;
	max-height: 200px;
	margin-left: auto;
	float: right;
	right: em;
}

.dashboard {
	margin: 20px 0px 20px 0px;
	font-size: 2em;
}

.dash {
	margin-left: 1em;
}

.alert {
	padding:5px 30px 5px 20px;
	margin-bottom: 10px;
}


.nav-tabs a{
	background-color: #f7f7f7;
	width: 300px;
	text-align: center;
}

.nav-tabs>li a{
border-bottom: 1px solid #ccc;
}

.nav-tabs>li.active a{
	background-color: #f7f7f7;
	width: 300px;
	text-align: center;
	font-weight: bold;
}

.search-res {
	max-width: 200px;
	margin: 20px;
	float: left;
}

.select-resources {
	float: right;
	padding: 2em;
}

.rpp {
	margin-left: 1em;
}


.green-circle {
	border-radius: 100%;
	border: solid 1px #fff;
	background: #80c235;
	width: 20px;
	height: 20px;
}

.red-circle {
	border-radius: 100%;
	border: solid 1px #fff;
	background: #e65236;
	width: 20px;
	height: 20px;
}

.orange-circle {
	border-radius: 100%;
	border: solid 1px #fff;
	background: #F3862D;
	width: 20px;
	height: 20px;
}



.fa {
	padding-right: 10px;
	margin-left: 1em;
}

.status>dt {
	margin-bottom: 0.3em;
	padding: 4px;
	text-align: left;
	border-bottom: 1px solid #383635
}

.status>dd {
	margin-bottom: 1em;
	padding: 6px;
	text-align: right;
	right: 1em;
	border-radius: 8px;

}

.table-name {
	font-size: 14px;
	font-weight: bold;
	background-color: #9ED29E;
	padding: 12px;
	border-radius: 8px;
	margin-bottom: 1em;
}

.inside-table {
	background-color: #fff;
	border: solid 1px #ccc;
	border-radius: 10px;
	margin: 20px;
	line-height: 0.1em;
	margin-bottom: 2.0em;
	padding: 20px;
}

.inside-table>dt {
margin-bottom: 1em;
}

.inside-table>dd {
margin-bottom: 1em;
text-align: right;
right: 1em;
}


.hiddenRow {
	background-color: #fcfcfc;
}

.icon-r {

}